#main_portrait {
    width: 150px;
    float: left;
    margin: 10px;
}

#scrollspacer {
    height: 300px;
}

#TRIGGER {
    background-color: red;
    width: 600px;
    height: 5px;
    position: absolute;
    left: 0px;
    top: 160.2px;
    z-index: 2000;
}

#footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    text-orientation: sideways;
    /* height: 200px; */
    transform: rotate(-90deg);
    transform-origin: left top 0;
}