---
layout: default
title: Nathan Mitchell
---
<h3> About Me </h3>

<image id="main_portrait" src="images/NMitchell_Portrait.png"/>

<p>I am a graduate student at the <a href="http://www.cs.wisc.edu/">University of Wisconsin - Madison</a> and a member of the <a href="http://graphics.cs.wisc.edu">UW Visual Computing Lab</a>, currently five years into my Ph.D program for computer science. My primary academic interests include deformable object simulation, software optimization for heterogenous hardware, and rendering. For the past several years, I have been the lead developer on a <a href="/project_pages/virtual_surgery">virtual surgery project</a>, which aims to provide a virtual authoring and practice tool for plastic surgeons.</p>

<p>My advisor at the University of Wisconsin is <a href="http://pages.cs.wisc.edu/~sifakis">Eftychios Sifakis</a>. Before I began my graduate program, I attended the <a href="http://www.edinboro.edu/academics/schools-and-departments/cshp/departments/mcs/index.html">University of Edinboro</a> in Pennsylvania for my undergraduate degree in computer science. I have also worked with the Math and Computer Science division of Argonne National Labs, where I helped develop software for managing cluster provisioning.</p>

<p>In my personal time, I am an avid enthusiast of board games and tabletop RPGS. I also enjoy baking desserts.</p>

<!-- <div id="TRIGGER" > </div> -->

<div class='timelineSection'>
  <div class='timeline'>
    <div class='timelineLine'></div>
    <div class='timelineZone'>

      {% assign doc_collection = site.collections | where: "label", "publications" | first %}
      {% assign publications = doc_collection.docs | group_by:"paper_year" | sort: 'name' | reverse %}
      {% for yeargroup in publications %}
      {% for paper in yeargroup.items %}

      <div class='poi active timelinePoi' tltime='{{ paper.timeline_order }}' url="{{site.url}}{{ paper.url }}">
        <div class='caption'>
            <div class="caption-img"><img src="{{ paper.rep_image }}" /></div>
            <div class="caption-text">
                <div class='titlebar'>
                    <h2 class='title'><span>{{ paper.timeline_venue }} - {{ paper.short_title }}</span></h2>
                </div>
                <div class='body'><p>
                    {{ paper.abstract | truncate: 250 }}
                </div>
            </div>
        </div>
      </div>

      {% endfor %}
      {% endfor %}


    </div>
  </div>
</div>

<div id="scrollspacer" > </div>
