<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"">Home</a>
        </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> -->
                <!-- <li><a href="#">Link</a></li> -->

                <li><a href="/contact.html">Contact Me</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Research Interests<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% assign research_collection = site.collections | where: "label", "research" | first %}
                        {% for research in research_collection.docs %}
                        <li><a href="{{site.url}}{{ research.url }}">{{research.short_title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Publications <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% assign doc_collection = site.collections | where: "label", "publications" | first %}
                        {% assign publications = doc_collection.docs | group_by:"paper_year" | sort: 'name' | reverse %}
                        {% for yeargroup in publications %}
                        <li class="pub-year-label">{{ yeargroup.name }}</li>
                        {% for paper in yeargroup.items %}
                        <li><a href="{{site.url}}{{ paper.url }}">{{ paper.short_title }}</a></li>
                        {% endfor %}
                        {% endfor %}
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Projects<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% assign project_collection = site.collections | where: "label", "projects" | first %}
                        {% for project in project_collection.docs %}
                        <li><a href="{{site.url}}{{ project.url }}">{{project.short_title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>

            </ul>            
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->   
</div>
