
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <link href="/css/project_page.css" rel="stylesheet" type="text/css" />

    {% include bootstrap_head_matter.html %}   
  </head>

  <body>
      {% include header.html %}

    <div class="container">

      {{ content }}

    </div>
    
    {% include footer.html %}
  </body>
</html>


