{% assign publication = site.data.publications | where:"slug",page.pub | first %}

<!doctype html>
<html>
    <head>
        <title>{{ publication.paper_title }}</title>
        <meta charset="utf-8" />
        {% include bootstrap_head_matter.html %}   
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ site.description }}">
        <link href="/css/project_page.css" rel="stylesheet" type="text/css" />
        <link href="/css/default.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        {% include header.html %}

        <div id="centered-content-block">
            <h1>{{ publication.paper_title }}</h1>

            <div id="authors"> 
                <span class="titleline">Authors</span>
                <div class="author-block">
                    {% for authorslug in publication.paper_authors %}
                    {% assign author = site.data.authors | where: "slug", authorslug | first %}
                    <div class="author"> 
                        <span class="name">
                            {% if author.url %}
                            <a href="{{author.url}}"> {{ author.name }} </a>
                            {% else %}
                            {{ author.name }}
                            {% endif %}
                        </span>
                        <span class="location">{{ author.location }}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div id="images" >
                {% for image in publication.images %}
                <div class="image_container">
                    {% if image.src_url %}
                    <img src="{{ image.src_url }}" />
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            
            <div id="videos" >
                {% for video in publication.videos %}
                <div class="video_container">
                    {% if video.src_url %}
                    <video controls poster="{{ video.poster_url }}">
                        <source src="{{ video.src_url }}" type="video/mp4">
                        I'm sorry; your browser doesn't support HTML5 video in MP4 with H.264. 
                        <a href="{{ video.src_url }}">Try downloading the video instead.</a>
                    </video>
                    {% else %}
                    <img src="{{ video.poster_url }}" />
                    {% endif %}
                </div>
                {% endfor %}
            </div>

            <div id="abstract">
                <span class="titleline">Abstract</span>
                <p class="body">
                    {{ publication.abstract }}
                </p>
            </div>

            {% if publication.code %}
            <div id="code" >
                <span class="titleline">Code</span>
                {% for code in publication.code %}
                <div class="code-block">
                    <div class="code-downloads" >
                        <a href="{{ code.url }}">[Download]</a>
                    </div>
                    <div class="code-description" >
                        {{ code.description }}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            <div id="paper" >
                <span class="titleline">Cite</span>
                <div class="citation-block">
                    <div class="citation-downloads">
                        {% if publication.paper_url %}<a href="{{ publication.paper_url }}" class="paper-link">[Download]</a>{% endif %}
                        {% if publication.bibtex_url %}<a href="{{ publication.bibtex_url }}" class="paper-bibtex">[Bibtex]</a>{% endif %}
                    </div>
                    <div class="citation">
                        <span class="paper-authors">{% for authorslug in publication.paper_authors %}
                            {% assign author = site.data.authors | where: "slug", authorslug | first %}
                            {{ author.cite_name }}
                            {% if forloop.last %}
                            {% else %},
                            {% endif %}
                            {% endfor %}
                        </span>
                        <span class="paper-title">
                            {{ publication.paper_title }}
                        </span>
                        <span class="paper-venue">
                            {{ publication.paper_venue }}, {{ publication.paper_year }}
                        </span>  
                    </div>
                </div>
                {% if publication.doi %}
                <div class="doi-block">
                    <span class="block-label">DOI:</span>
                    <span class="block-content"><a href="http://dx.doi.org/{{ publication.doi }}">doi:{{ publication.doi }}</a></span>
                </div>
                {% endif %}
            </div>
            
            {% include footer.html %}
    </body>
</html>
